@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 180 11% 15%; /* #222B2B */
    --foreground: 210 40% 98%;
    --card: 180 11% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 180 11% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 25%; /* #008080 */
    --primary-foreground: 180 20% 96%;
    --secondary: 180 10% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 180 10% 25%;
    --muted-foreground: 180 5% 63%;
    --accent: 175 49% 45%; /* #3EA99F */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 10% 25%;
    --input: 180 10% 25%;
    --ring: 175 49% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 11% 15%; /* #222B2B */
    --foreground: 210 40% 98%;
    --card: 180 11% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 180 11% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 25%; /* #008080 */
    --primary-foreground: 180 20% 96%;
    --secondary: 180 10% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 180 10% 25%;
    --muted-foreground: 180 5% 63%;
    --accent: 175 49% 45%; /* #3EA99F */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 10% 25%;
    --input: 180 10% 25%;
    --ring: 175 49% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}